<h1>
  <%= @post.title %>
  <% if @post.user == current_user %>
      <%= link_to edit_post_path(@post) do %>
          <svg width="1em" height=".5em" viewBox="0 0 16 16" class="bi bi-pen" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M13.498.795l.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
          </svg>
      <% end %>
  <% end %>
</h1>
<p>
  <strong>Created:</strong>
  <%= @post.created_at.to_formatted_s(:long) %>
  <strong>By:</strong>
  <%= @post.user.name %>
</p>
<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<hr>

<p>
  <h3>Leave a comment</h3>
    <%= render partial: 'comments/form', locals: { commentable: @post, comment: Comment.new } %>
</p>

<h3>Comments:</h3>
  <div id="comment_container">
      <% @comments.each do |comment| %>
          <%= render partial: 'comments/comment', locals: { comment: comment } %>
      <% end %>
  </div>
<%= paginate @comments, theme: 'twitter-bootstrap-4' %>





<%= javascript_pack_tag 'comments' %>